<p>videos-component works!</p>

<div class="row">




      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPEgHKgZW6s?si=x1QQBBz_piwIPzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>






      

      

  </div>

